/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F0E6; /* Creme suave */
    font-family: 'Roboto', sans-serif;
    color: #4B3F36; /* Marrom café */
}

/* Header */
header {
    padding: 40px 20px;
    text-align: center;
    background-color: #DABF8A; /* Alternativa mais suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    font-weight: 700; /* Mais negrito */
    color: #4B3F36; /* Marrom café */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
}

header h1 span {
    color: #B5734A; /* Laranja queimado */
}

header p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu-section {
    margin-bottom: 40px;
}

.menu-section h2 {
    background-color: #B5734A; /* Laranja queimado */
    color: #FFFFFF; /* Branco para contraste */
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    display: flex;
    align-items: center;
    padding: 20px 30px; /* Aumenta o padding */
    border-bottom: 1px solid #D0BFAE; /* Bege claro */
    background-color: #FAF3E0; /* Creme claro */
    border-radius: 5px;
    margin-bottom: 15px; /* Aumenta o espaçamento entre itens */
    gap: 20px;
}

.menu-list li:hover {
    background-color: #F8F4F0; /* Alterar cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
}

.menu-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.details {
    flex: 1;
}

.details h3 {
    font-size: 18px;
    color: #4B3F36; /* Marrom café */
}

.description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.info {
    font-size: 12px;
    color: #8C6D5A; /* Marrom claro */
}

.price {
    font-size: 20px;
    color: #B5734A; /* Laranja queimado */
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px 20px; /* Aumentar o padding */
    background-color: #DABF8A; /* Bege dourado */
    color: #4B3F36; /* Marrom café */
    border-top: 1px solid #D0BFAE; /* Adicionar uma borda superior */
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    .menu-section h2 {
        font-size: 20px;
    }

    .menu-list li {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px; /* Ajustar o espaçamento */
    }

    .menu-image {
        width: 100px; /* Tamanho maior em dispositivos móveis */
        height: 100px;
    }

    .price {
        font-size: 18px;
    }
}
